section.section-banner(style="background-image: url(images/img-150x150.jpg)")
	.container
		.banner-text
			h1.title Text h1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, odit saepe ipsam corrupti delectus autem labore dolorum ratione sit rem libero pariatur tenetur consequatur ipsa inventore? Corrupti quod reiciendis sapiente!
			.btn-wrap
				a.btn.btn-default(href="#") Link
				a.btn.btn-primary(href="#") Link
				a.btn.btn-primary(href="#") Link